*.iml
.gradle
/local.properties
/apikey.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
core/src/main/java/com/example/github/core/utils/ApiConfig.kt
local.properties
apikey.properties